* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post{
    display: flex;
    padding: 1.5rem;
    border: .2rem solid teal;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    margin-right: 0.5rem;
  }
  
  .post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
  }
  
  body{
    padding: 1em;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }
  h1{
    margin: 1em 0;
    border-bottom: 1px dashed;
    padding-bottom: 1em;
    font-weight: lighter;
  }
  p{
    font-style: italic;
  }

  .page__wrapper{
    margin-top: 3rem;
    display: flex; 
  }

  .page {
    padding: 1rem;
    border: 1px solid teal;
    cursor: pointer;
    
  }

  .page__current {
    border: .2rem solid orange;
    font-weight: bold;
  }